


//border radious
$border-radius: 0.04rem;

$primary: #0000000f;
$secondary: #57a4a4;
$danger: #ff4136;
$info: #a0688b;
$body-color: #5c5c5c;
$headings-color: #4e4e4e;
$link-color: #3a3a3a;
$breadcrumb-active-color: $secondary;


$font-family-monospace: 'Dosis', sans-serif;
$enable-gradients: false;


$link-decoration: none;

// dropdown menu
$dropdown-border-radius: none;
$dropdown-padding-y: none;
$dropdown-spacer: 0;

$navbar-light-active-color: $secondary;

//toggle button 
$navbar-toggler-border-radius: none;
$navbar-toggler-focus-width: 0;
$navbar-toggler-padding-y: 0.75rem;
$navbar-toggler-padding-x: 0.75rem;

//btn
$btn-padding-x: 1rem;
$btn-padding-y: 0.75rem;
$btn-border-width: 0;
$btn-box-shadow: none;

// font sizes
$h3-font-size: 18px;
@import "../node_modules/bootstrap/scss/bootstrap";



body {
    font-family: $font-family-monospace;
}
.dark-wrapper {
    background: rgba(0,0,0,0.03);
}
.latest-blog-wrapper {
    overflow: hidden;
}

.bg-primary {
    --bs-bg-opacity: 0.06;
    background-color: rgba(var(--bs-primary-rgb), var(--bs-bg-opacity)) !important;
  }

  header.top {
    height: auto;
    text-align: center;
    padding: 1rem 0;
}
.navbar {
    padding: 0 !important;
}
  .navbar .collapse {
    justify-content: center;
  }

.navbar-brand{
    padding: 10px 18px !important;
}
.navbar-brand img {
    width: 50px;
}
.carousel, .carousel-inner, .carousel-item img {
    height: 500px;
    width: 100%;
}

.lead.main {
    font-size: 28px;
    line-height: 40px;
    margin-bottom: 70px;
    font-weight: 300;
}
.default {
    position: absolute;
    width: 100%;
    top: 0;
}


.nav-link{
    color: $link-color;
}
.navbar .navbar-nav a {
    padding: 20px 18px;
    font-size: 12px;
    text-transform: uppercase;
    font-weight: 700;
    letter-spacing: 1px;
    width: 100%;
}
.navbar .dropdown-menu a {
    color: #e9e9e9;
    padding: 15px 18px;
    font-size: 10px;
}
.navbar .navbar-nav a.dropdown-item {
    border-top: 1px solid rgba(0, 0, 0, 0.15);
}
.navbar .dropdown:hover .dropdown-menu {
    display: block;
} 
@media (max-width: 575px){
.navbar-toggler {
    margin: 10px;
}
}
@media (max-width: 575px){
.navbar-toggler.collapsed i::before {
    content: "\f0c9";
    font-family: 'Font Awesome 5 Free';
    display: block;
    font-style: normal;
    font-weight: 900;
    width: 1em;
    margin-right: 0;
    text-align: center;
}
}

@media (max-width: 575px) {
.navbar-toggler i::before {
    content: "\f00d";
    font-family: 'Font Awesome 5 Free';
    display: block;
    font-style: normal;
    font-weight: 900;
    width: 1em;
    margin-right: 0;
    text-align: center;
}
}

.navbar-toggle-icon {
    display: none;
}


.carousel-item img{
    object-fit: cover;
}


.breadcrumb .btn{
    color: $link-color;
    border: none !important;
    font-size: small;
    font-weight: bold;
    line-height: 26px;
}
.nav-link:hover, .dropdown-item:hover, a:hover, .breadcrumb .btn:hover .btn:active, .breadcrumb .active{
    color: $secondary;
    
}


@media only screen and (min-width : 576px) {
    .fixed {
        position: fixed;
        top:0;
        z-index: 1000;
        background-color: rgba(243, 243, 243, 0.96);
        box-shadow: 0 1px 0 rgba(0, 0, 0, 0.13);
        margin-left: -12px;
      }
}

.btn {
    min-width: 8rem;
    color: white !important;
}
.section-title {
    font-size: 16px;
    line-height: 22px;
    text-transform: uppercase;
    margin-bottom: 25px;
    font-weight: bold;
}
.section-title::before {
    content: "-";
    color: $secondary;
    padding-right: 5px;
    display: inline-block;
}

@media only screen and (min-width: 992px){
.button-group {
    float: none !important;
    clear: both;
    margin-bottom: 25px;
}
}
.button-group .button {
    display: inline-block;
    background: none;
    border: none;
    color: #4e4e4e;
    font-size: 13px;
    font-weight: bold;
    cursor: pointer;
    text-transform: uppercase;
    padding: 0;
    margin-left: 15px;
    -webkit-transition: all 200ms ease-in;
    -o-transition: all 200ms ease-in;
    -moz-transition: all 200ms ease-in;
}

figure  img {
    display: inline;
    max-width: 100%;
    transition: all 0.3s ease-out;
}
.portfolio figure img {
    min-width: 100%;
    min-height: 100%;
}

.portfolio figure {
    position: relative;
    margin: 0;
    overflow: hidden;
    height: 100%;
}

.portfolio .items {
    margin-bottom: -10px;
    margin-right: -10px;
}
.portfolio .items:after {
    content: '';
    display: block;
    clear: both;
  }

.grid-sizer {
    width: 50%;
}
.portfolio .items .item {
     width: 100%;
     overflow: hidden;
    padding: 0 10px 10px 0;
     height: auto;
}

@media only screen and (min-width : 768px) {
    .portfolio .items .item {
        width: 50%; 
    }
}
@media only screen and (min-width: 992px) {
    .portfolio .items .item {
        width: 25%;
    }
    .portfolio .grid-item--width2 {
        width: 50% !important;
    }
}

@media only screen and (min-width: 1440px) {
    .portfolio .items .item {
        height: 200px;
    }
    .portfolio .grid-item--height2 {
        height:400px !important;
    }

}


figure a .text-overly {
    opacity: 0;
    height: 100%;
    position: absolute;
    width: 100%;
    z-index: 100;
    padding: 50px;
    background-color: rgba(20,20,20,0.75);
    transition: all 0.4s;
}

.portfolio .item:hover img{
    transform: scale(1.10);

}
figure a .text-overly .info{
    text-align: center;
    top: 50%;
    width: 100%;
    left: 0;
    position:absolute;
    margin-top: -12px;
}

figure a .text-overly .info span{
    border: 2px solid #FFF;
    padding: 12px 21px;
    font-weight: 700;
    font-size: 16px;
    color: #FFF;
}

.portfolio .item:hover .text-overly{
    opacity: 1;
}

figure a {
    background: transparent;
    overflow: hidden;
}

// Portfolio services style
.services .text {
    margin-bottom: 3rem;
}

.services .icon i, .services i.icn i {
    font-size: 50px;
    color: #57a4a4;
}

.services .icon, .services .i.icn{
    display: table;
    float: left;
    margin-right: 20px;
    line-height: 1;
    font-size: 40px;
    text-transform: uppercase;
    -webkit-transition: all 200ms ease-in;
}
.services .icon i, .services i.icn {
    font-size: 50px;
    color: $secondary;
}

.services .icn:before {
    display: inline-block;
    font-family: 'Font Awesome 5 Free';
    font-style: normal;
    text-transform: none;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    }

    .wedding-icon:before {
        content: "\f004";
        font-weight: normal;
    }
    .birth-icon:before {
        content: "\f1fd";
        font-weight: 900;
    
    }
    .food-icon:before {
        content: "\f2e7";
        font-weight: 900;
    }
    .fashion-icon:before { 
        content: "\f290";
        font-weight: 900;
    }
    .jewelery-icon:before { 
        content: "\f3a5";
        font-weight: 900;
    }
    .drink-icon:before { 
        content: "\f000";
        font-weight: 900;
    }

    .latest-blog .post{
        float: left;
        margin-bottom: 50px;
    }
    .post figure {
        margin-bottom: 15px;
    }
    .icon-overlay {
        display: block;
        overflow: hidden;
        position: relative;
    }
    .icon-overlay a .icn-more {
        opacity: 0;
        height: 100%;
        position: absolute;
        text-decoration: none;
        width: 100%;
        max-width: 100%;
        z-index: 100;
        background: rgba(20,20,20,0.75);
        overflow: hidden;
        transition: all 0.4s;
    }
    .icon-overlay a .icn-more:before{
        content : "\f0c1";
        font-family: "Font Awesome 5 Free";
        font-style: normal;
        font-weight: 900;
        display: inline-block;
        text-decoration: inherit;
        position: absolute;
        text-align: center;
        line-height: 1;
        color: #FFF;
        left: 50%;
        z-index: 2;
        padding: 8px 10px;
        font-size: 16px;
        border: 2px solid #FFF;
        top: 50%;
        margin: -17px 0 0 -17px;
        }

        .icon-overlay:hover a .icn-more {
            opacity: 1;
        }
        .icon-overlay:hover a img {
           transform: scale(1.10);
        }
        // owl carousel
        .parallax{
            background: url("/bgTestimonial/parallax2.jpeg") fixed no-repeat center center;
            background-size: cover;
            position: relative;
            color: #ddd;
        }
        .parallax h1,
        .parallax h2,
        .parallax h3,
        .parallax h4,
        .parallax h5,
        .parallax h6 { 
            color: #eaeaea;
        }
        .testimonials .item blockquote {
            position: relative;
            margin: 0;
            padding: 10px 60px 0;
            text-align: center;
            border: 0px;
            font-weight: 200;
            font-style: normal;
            background: none;
            font-size: 20px;
            line-height: 35px;
            color: #FFF;
        }
        .testimonials .item blockquote:before {
            top: 0;
            left: 0;
            content: "“";
        }
        .testimonials .item blockquote:after {
            top: 0;
            right: 0;
            content: "”";
        }
        .testimonials .item blockquote:before, .testimonials .item blockquote:after {
            position: absolute;
            width: 60px;
            height: 60px;
            font-size: 80px;
            line-height: 1;
            font-weight: 200;
        }
        .testimonials .item blockquote p {
            font-size: 20px;
            line-height: 35px;
            color: #FFF;
        }
        .testimonials .item blockquote small {
            font-size: 12px;
            text-transform: uppercase;
            font-style: normal;
            font-weight: 700;
            color: #b1b1b1;
            margin-top: 10px;
        }
        blockquote small{
            display: block;
        }
        .owl-nav i:before {
            display: inline-block;
            font-family: 'Font Awesome 5 Free';
            font-style: normal;
            text-transform: none;
            text-rendering: auto;
            -webkit-font-smoothing: antialiased;
        }
        .owl-nav .owl-next i:before{
            content: "\f105";
            font-weight: 900;
        }
        .owl-nav .owl-prev i:before{
            content: "\f104";
            font-weight: 900;
        }
        .testimonials .owl-nav .owl-prev, .testimonials .owl-nav .owl-next {
            color: #FFF;
            border: 2px solid #FFF;
            background: transparent !important;
            border-radius: 0 !important;
            width: 34px;
            height: 34px;

        }
        .testimonials .owl-nav [class*="owl-"]:hover{
            color: #4E4E4E !important;
            background: #FFF !important;
        }
        // footer
        .footer h1, .footer h2, .footer h3, .footer h4, .footer h5, .footer h6 {
            color: #eaeaea;
        }
        .footer {
            background: #1e1f20;
            color: #b9b9b9;
        }
        .social {
            padding: 0;
            margin: 0 0 -5px 0;
            font-size: 0;
            line-height: 1;
        }
        .text-center .social li {
            margin: 0 3px;
        } 
        .social li {
            display: inline-block;

        }
        .social li a {
            display: table;
        }
        .footer a {
            color: #b9b9b9;
        }
        .social .icon-s-rss {
            border-color: #faaa5e;
            color: #faaa5e;
        }
        .social .icon-s-twitter {
            border-color: #70c2e9;
            color: #70c2e9;
        }
        .social .icon-s-facebook {
            border-color: #677fb5;
            color: #677fb5;
        }
        .social .icon-s-dribbble {
            border-color: #e299c2;
            color: #e299c2;
        }
        .social .icon-s-pinterest {
            border-color: #d8545d;
            color: #d8545d;
        }
        .social li a i {
            text-align: center;
            display: table-cell;
            vertical-align: middle;
            color: #f3f3f3;
            background: none;
            border: 2px solid #aaa;
            width: 34px;
            height: 34px !important;
            line-height: 30px;
            font-size: 13px;
            -webkit-transition: all 200ms ease-in;
            -o-transition: all 200ms ease-in;
            -moz-transition: all 200ms ease-in;
        }
        .social a:hover .icon-s-rss {
            background-color: #faaa5e;
        }
        .social a:hover .icon-s-twitter {
            background-color: #70c2e9;
        }
        .social a:hover .icon-s-facebook {
            background-color: #677fb5;
        }
        .social a:hover .icon-s-dribbble {
            background-color: #e299c2;
        }
        .social a:hover .icon-s-pinterest {
            background-color: #d8545d;
        }
       .social a:hover i {
        color: #FFF;
       }
        [class^="icon-s-"]:before, [class*="icon-s-"]:before {
            font-family: 'Font Awesome 5 Brands';
            font-style: normal;
            font-weight: normal;
            display: inline-block;
            text-decoration: inherit;
            width: 1em;
            margin-right: 0;
            text-align: center;
            line-height: 1em;
            -webkit-font-smoothing: antialiased;
        }

        .icon-s-rss:before {
            font-family: 'Font Awesome 5 Free';
            content: "\f09e";
            font-weight: 900;
            
        }
        .icon-s-twitter:before{
            content: "\f099"
        }
        .icon-s-facebook:before {
            content: "\f39e";
        }
        .icon-s-dribbble:before { 
            content: "\f17d";
        }
        .icon-s-pinterest:before{
            content: "\f231";
        }







        .sub-footer {
            background: #1a1a1b;
            padding-top: 35px;
            padding-bottom: 35px;
        }
